* { 
    border: 1px red solid;
 }


body {
    background-color: #1f2937;
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

div .nav-col {
    display: flex;
    flex-direction: column;
}


div .nav-row {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

div .nav-row-1 {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;

}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

}


.nav-row-hero {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.nav-row-hero-2-block {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.first-hero-2-block {
    align-content: center;
    margin-top: 50px;
}

. {
    align-content: center;
}

.second-hero {
    width: auto;
    height: 250px;
    display: flex;
    flex-shrink: 0;
}

img {
    width: 450px;
    padding-top: 20px;
}

.p-hero {
    width: 450px;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    background-color:cornflowerblue;
    color: white;
}


.block-2-h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.block-2-h3 {
    height: auto;
    width: auto;
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    text-align: start;
    margin-bottom: -15px;
}

.block-2-h4 {
    font-size: 18px;
    font-weight: 600;
    color: #1f2937;
    text-align: end;
}

.nav-row-2-block {
    background-color: white;
    width: auto;
    height: auto;
    padding-bottom: 100px;
}

.quote-row-div {
    background-color: #e7e5eb;
    width: auto;
}

.quote-row {
    align-items: center;
    align-content: center;
    padding: 100px;
}


.box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    color: black;
}

.box-text {
    display: flex;
    height: auto;
    width: 150px;
    padding-top: 10px;
    color: black;
}

.hero-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 75px;
    flex-wrap: wrap;
}

.hero-col-text {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.div-h {
    height: auto;
    width: auto;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
}

.footer-col-text {
    display: flex;
    flex-direction: column;
    color: black;
    height: auto;
    margin-top: 150px;

}

.footer-col-text-1 {
    display: flex;
    flex-direction: row;
    color: black;
    height: auto;
}

.footer-row-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer-col-button {
     align-content: center;
     margin-top: 150px;
     margin-bottom: 150px;
     padding-left: 50px;
     padding-right: 50px;
    }

.nav-row-hero-2-block-footer {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.color {
    background-color: #3882fa;
}

.flex-row {
    display: flex;
    flex-direction: row;
    height: min-content;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}